@tailwind base;
@tailwind components;
@tailwind utilities;

#pizza-modal .half-btn::-webkit-scrollbar {
  display: none;
}

#pizza-modal .half-btn {
  scrollbar-width: none;
}

@keyframes pulse-icon {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.pulse {
  animation: pulse-icon 1.2s infinite;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fade-in {
  animation: fadeInScale 0.3s ease-out;
}

 html {
      scroll-behavior: smooth;
    }

    