@tailwind base;
@tailwind components;
@tailwind utilities;



#show-bebida {
    display: none;
}

#show-esfirra {
    display: none;

}

#show-lanche {
    display: none;
}

#pizza-modal .half-btn::-webkit-scrollbar {
  display: none;
}

#pizza-modal .half-btn {
  scrollbar-width: none;
}